<!-- Copied from /opt/ros/groovy/stacks/pr2_robot/pr2_bringup/pr2.launch -->
<launch>
  <!--First, kill the original joy-->
  <node pkg="pr2_lfd_util2" type="killJoy.py" name="kill_joy" />

  <!--Second, start a new instance of joy_node with a new topic name, joy_raw-->
  <param name="/use_sim_time" value="false"/>
  <include file="$(find pr2_machine)/pr2.machine" />

  <!-- PS3 joystick for A2 servers -->
  <node machine="c2" pkg="joy" type="joy_node" name="joy_node" >
    <remap from="joy" to ="joy_raw" />
    <param name="deadzone" value="0.12" />
    <param name="dev" value="/etc/ros/sensors/ps3joy" />
    <param name="autorepeat_rate" value="10" />
  </node>
</launch>
